<section>
  <!--<article class="">
  <h3>Interpolação/Interpolation</h3>
  <p>String renderizada com interpolação: {{ url }}</p>
  <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
  <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
</article>

<article>
<h3>Property binding</h3>
<img src="{{ urlImagem }}">
<img [src]="urlImagem">
</article>-->

<!--<article>
  <h3>Classe e style binding</h3>
  <div>
    Selecione uma classe:
    <select #classe (change)="0" >
      <option value="alert-primary">Primary</option>
      <option value="alert-secondary">Secondary</option>
      <option value=" alert-success">Success</option>
      <option value="alert-danger">Danger</option>
    </select>
  </div>

  <br><br>

  <div class="alert alert-danger" role="alert"
   [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
    Danger text.
  </div>

  <br><br>

  <div class="alert" role="alert"
    [class.alert-primary]="classe.value == 'alert-primary'">
    Primary
  </div>
  <div class="alert" role="alert"
    [class.alert-secondary]="classe.value == 'alert-secondary'">
    Secondary
  </div>
  <div class="alert" role="alert"
    [class.alert-success]="classe.value == ' alert-success'">
    Success
  </div>
  <div class="alert" role="alert"
    [class.alert-danger]="classe.value == 'alert-danger'">
    Danger
  </div>

  <br><br>

  <div class="alert {{ classe.value }}" role="alert">
    Texto colorido conforme valor do combobox.
  </div>
</article>-->


  <article>
    <h3>Event binding</h3>
    <div>
      <button (click)="botaoClicado()"
        class="btn btn-primary">
        Me clique!
      </button>

      <br><br>

      <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput />

        <p>Valor atual: {{ valorAtual }}</p>
        <p>Valor atual: {{ valorSalvo }}</p>

        <br><br>
        <span
          (mouseover)="onMouseOverOut()"
          (mouseout)="onMouseOverOut()"
          [class.highlight]="isMouseOver"
          >
          Passe o mouse sobre mim
        </span>
    </div>
  </article>

</section>
